* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden; /* Prevent scrolling when the content is centered */
}

.wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gif {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    transform: translateX(20px);  /* Move the GIF slightly to the right */
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin: 15px 0;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}

button {
    width: 150px;
    height: 50px;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    transition: background-color 0.3s ease;
}

button:nth-child(1) {
    background: #e94d58;
}

button:nth-child(2) {
    background: white;
    color: #e94d58;
}

/* Ensure the buttons don't overlap */
.btn-group button {
    margin: 0 10px;
}
