/* Styles for the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gif {
    max-height: 60%;
    max-width: 90%;
    margin: 20px 0;
}

.hidden {
    display: none;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin: 15px 0;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    width: 150px;
    height: 50px;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 10px;
    border: 2px solid #e94d58;
}

.yes-btn {
    background: #e94d58;
}

.no-btn {
    background: white;
    color: #e94d58;
}
